h1 {
    display: none;
}

.header {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 104px;
}

.navigation-list {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-primary-color-opacity);
    margin-bottom: 40px;
    /* list-style: none; */
}

.navigation-list__link {
    text-decoration: none;
    color: var(--dark-primary-color-opacity);
}

.navigation-list__link:hover {
    /* text-decoration: none; */
    color: var(--dark-primary-color);
}

/* .navigation-list::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
} */